<html>
    <head> 
        <title>Farm-management-system/Images</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body background-color="#000000" text="#000000">
        <div class="grids">

            <div class="main-header"> 
                <h1>
                    <a href="index.html" style="color:aliceblue">MUKAYA FARM MANAGEMENT SYSTEM</a>
                </h1>    
            </div>

            <div class="logo">
                <img src="logo.jpg" alt="Farm logo" style="width:60px; height:60px; ">
            </div>

            <div class="side-links"> 
                <h2>
                    <a href="Admin.html"   style="color: white">Admin</a>
                    <br></br>
                    <a href="farmmanager.html"  style="color:white">Farm Manager</a>
                    <br></br>
                    <a href="DataCollector.html" style="color:white" >Data Collector</a>
                    
                </h2>
            </div>

            <div class="content">
                <h1 style="color: white;"> Section 1 </h1>
                <a href="UploadImage.html">
                    <button class="btn btn-primary btn-lg" > Upload Image</button>
                  </a>
            </div>

            <div class="footer">
    
                <a href="AboutUs.html" style="color:black" style="text-decoration-line: none">About Us</a> <br>
                @Copyright Mukaya Farm 2022 - All right Reserved
            </div>

        </div>
        
       
    </body>
    </body>
</html>